<ion-content [fullscreen]="true" class="bg_class">
  <br />
  <ion-icon name="home-outline" size="large" routerLink="/home"></ion-icon>
  <center>
    <img src="assets\gestibank.png" width="232.66" height="53.33" />
  </center>

  <br /><br /><br />
  <ion-text color="secondary">
    <center><h1>Conversion</h1></center></ion-text
  >

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Devise</ion-label>
              <ion-select
                [(ngModel)]="devise"
                (ionChange)="codeSelected()"
                placeholder="Sélectionner"
              >
                <ion-select-option value="EUR">EURO</ion-select-option>
                <ion-select-option value="TND">DINARD</ion-select-option>
                <ion-select-option value="GBP">LIVRE</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>Montant</ion-label>
              <ion-input [(ngModel)]="montant"></ion-input>
              <br /><br />
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>Résultat</ion-label>
              <ion-input [(ngModel)]="resultat"></ion-input>
              <br /><br />
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-align:left"></ion-col>
        <ion-col>
          <ion-button (click)="convert()"> CONVERTIR </ion-button>
        </ion-col>
        <ion-col class="text-align:right"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>Cours actuel :</ion-label>
              <ion-input [(ngModel)]="myQuotes"></ion-input>
              <br /><br />
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>
