<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      >Reglages
      <ion-icon name="power" size="large" routerLink="/connexion"></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-content [fullscreen]="true" class="bg_class">
      <br />
      <center>
        <img src="assets/gestibank.png" width="232.66" height="53.33" />
      </center>
      <ion-item-divider color="secondary">
        <ion-label>
          <h2>Connexion et sécurité</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Connexion</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>GestiSécur</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-item-divider color="secondary">
        <ion-label>
          <h2>Réglages</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Solde rapide</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Virement instantané</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Paylib entre amis</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Alertes notifications</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-content>
  </ion-content>
</ion-content>
