<ion-content [fullscreen]="true" class="bg_class">
  <br />
  <ion-icon name="home-outline" size="large" routerLink="/home"></ion-icon>
  <center>
    <img src="assets\gestibank.png" width="232.66" height="53.33" />
  </center>

  <br /><br /><br />
  <ion-text color="secondary">
    <center><h1>Créer un compte</h1></center></ion-text
  >

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>Nom : </ion-label>
              <ion-input [(ngModel)]="nom"></ion-input>
              <br /><br />
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>E-mail : </ion-label>
              <ion-input [(ngModel)]="mail"></ion-input>
              <br /><br />
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>Tel : </ion-label>
              <ion-input [(ngModel)]="phone"></ion-input>
              <br /><br />
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-select placeholder="Sélectionner un type de compte">
              <ion-select-option value="orange">Classique</ion-select-option>
              <ion-select-option>Avec découvert</ion-select-option>
              <ion-select-option>Épargne</ion-select-option>
            </ion-select>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-align:left"></ion-col>
        <ion-col>
          <br /><br />
          <ion-button shape="round" color="warning" (click)="UsersCreation()">
            S'INSCRIRE
          </ion-button>
        </ion-col>
        <ion-col class="text-align:right"></ion-col>
      </ion-row>
    </ion-grid> </ion-content
></ion-content>
