<ion-content [fullscreen]="true" class="bg_class">
  <br />
  <ion-icon name="home-outline" size="large" routerLink="/home"></ion-icon>
  <center>
    <img src="assets\gestibank.png" width="232.66" height="53.33" />
  </center>

  <br /><br /><br />
  <ion-text color="secondary">
    <center><h1>Espace admin</h1></center></ion-text
  ><br /><br /><br /><br />

  <div id="container">
    <center>
      <ion-button shape="round" color="warning" routerLink="/listeclientattente"
        >Listes des demandes</ion-button
      >
    </center>
  </div>
  <br /><br /><br /><br />

  <div id="container">
    <center>
      <ion-button shape="round" color="warning" routerLink="/listeagent"
        >Liste des agents</ion-button
      >
    </center>
  </div>
</ion-content>
