<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      >Mes Comptes
      <ion-icon name="power" size="large" routerLink="/connexion"></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-content [fullscreen]="true" class="bg_class">
      <br />
      <center>
        <img src="assets/gestibank.png" width="232.66" height="53.33" />
      </center>

      <div id="container">
        <ion-card>
          <ion-card-header> <h3>Compte courant</h3> </ion-card-header>
          <ion-card-subtitle> MR. Exemple </ion-card-subtitle>
          <ion-card-subtitle> 5000€ </ion-card-subtitle>

          <ion-button shape="round" color="warning" ion-item
            >Détails</ion-button
          >
        </ion-card>

        <ion-card>
          <ion-card-header> <h3>CEL</h3></ion-card-header>
          <ion-card-subtitle> MR. Exemple </ion-card-subtitle>
          <ion-card-subtitle> 7000€ </ion-card-subtitle>

          <ion-button shape="round" color="warning" ion-item
            >Détails</ion-button
          >
        </ion-card>

        <ion-card>
          <ion-card-header> <h3>PEL</h3></ion-card-header>
          <ion-card-subtitle> MR. Exemple </ion-card-subtitle>
          <ion-card-subtitle> 60000€ </ion-card-subtitle>

          <ion-button shape="round" color="warning" ion-item
            >Détails</ion-button
          >
        </ion-card>
      </div>
    </ion-content>
  </ion-content>
</ion-content>
