<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      >Votre assurance
      <ion-icon name="power" size="large" routerLink="/connexion"></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-content [fullscreen]="true" class="bg_class">
      <br />
      <center>
        <img src="assets/gestibank.png" width="232.66" height="53.33" />
      </center>
      <ion-card>
        <ion-title> MR Exemple </ion-title>
        <br />
        <ion-subtitle> GestiSécur</ion-subtitle>
        <br />

        <ion-subtitle> N°AD3567854576</ion-subtitle>

        <br /><br /><br /><br /><br /><br />

        <center><ion-button>Gérer mes sinistres</ion-button></center>
      </ion-card>
    </ion-content></ion-content
  ></ion-content
>
