<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true" class="bg_class">
  <ion-header collapse="condense"> </ion-header>

  <br />
  <center>
    <img src="assets\gestibank.png" width="232.66" height="53.33" />
  </center>
  <br /><br /><br />
  <ion-text color="secondary">
    <center><h1>Bienvenue sur GestiBank</h1></center></ion-text
  >

  <div id="container">
    <ion-button shape="round" color="warning" routerLink="/connexion"
      >Connexion</ion-button
    ><br /><br /><br /><br />

    <ion-button shape="round" color="warning" routerLink="/creercompte"
      >Creer un compte</ion-button
    ><br /><br /><br /><br />

    <ion-button shape="round" color="warning" routerLink="/conversion"
      >Conversion de devise</ion-button
    ><br /><br /><br /><br />
  </div>
</ion-content>
